<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{domain_name}} &mdash; Pyppero test page</title>
</head>
<body>
	<textarea>
	{{ page }}
	</textarea>
	
</body>
</html>
